<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>

  <section>
    <!--<div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle"><p>AdonisJs simplicity will make you feel confident about your code</p></div>-->
    <form method="POST" action="/post" id="form1">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="text" name="email">
    <button type="submit" form="form1" value="Submit">Submit</button>
    </form>
  </section>
</body>
</html>
